</main>

<footer>
  
  <p>Copyright © <%= new Date().getFullYear() %></p>
</footer>
<script>
  const date=new Date();
  const yr=date.getFullYear();
  document.querySelector("#year").textContent=yr;
</script>
</body>

</html>